*{
    margin: 0%;
    padding: 0%;
}

.box{
    height: 700px;
    width: 550px;
    background-color: rgb(250, 139, 4);
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;

}

.Register{
    font-size: 50px;
    text-align: center;
    margin-top: 20px;
    padding-top: 70px;
}




.firstname{
    margin-top: 40px;
    width: 85%;
    height: 45px;
    margin-left: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    
}

.lastname{
    margin-top: 10px;
    height: 45px;
    margin-left: 40px;
    width: 85%;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;

}

.email{
    margin-top: 10px;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;
    margin-left: 40px;
    width: 85%;

}

.password{
    margin-top: 10px;
    margin-left: 40px;
    width: 85%;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;

}

.confirmpassword{
    margin-top: 10px;
    margin-left: 40px;
width: 85%;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;

}

.gender{
    margin-top: 10px;
    margin-left: 40px;
    width: 85%;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;

}

.date{
    margin-top: 10px;
    margin-left: 40px;
width: 85%;
    height: 45px;
    border-radius: 5px;
    box-sizing: border-box;
    border: none;

}

.tikbox{
    margin-top: 20px;
    margin-left: 45px;

}

.button{
    margin-top: 20px;
    margin-left: 40px;
    width: 85%;
    height: 45px;
    border-radius: 50px;
    box-sizing: border-box;
    border: none;
    background-color: rgb(1, 8, 14);
    color: aliceblue;
    font-size: 25px;

}